<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG LOGIN</title>
</head>
<body>
    <form action="/home" method="get">
        <h1>What's Your Name?</h1>
        <input type="text" name="name" required>
        <input type="submit" value="submit">
    </form>
</body>
</html>
