<%- include('./partials/header.ejs') %>
<div class="post">
    <form action="/home" method="post">
        <p>title</p>
        <input type="text" name="title">
        <p>content</p>
        <input type="text" name="content">
        <input type="submit" value="CREATE">
    </form>
</div>
<%- include('./partials/footer.ejs') %>